
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); 
    background-color: #f4f4f4; 
}


.login-container {
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for better visuals */
}


.login-container h1 {
    font-size: 48px;
    margin-bottom: 10px;
}


.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}


.forgot-password {
    margin-top: 10px;
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
